version: "3.3"
services:
  skrman:
    image: aloxaf/exloli:0.5.7
    container_name: exloli
    volumes:
      - ./db.sqlite:/app/db.sqlite
      - ./db.text.json:/app/db.text.json
      - ./config.toml:/app/config.toml
    restart: unless-stopped
